.header {
  min-height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 100px);
  margin: 0 auto;
  padding: 0 25px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.accent {
  color: var(--primary-color);
}

.h1-title {
  margin: 0;
  font-size: 24px;
  line-height: 1;
}

.inner {
  background-color: #fff;
  padding: 0 20px;
  border-radius: 0 0 8px 8px;
}
