.title {
  margin: 0 0 12px;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 24px;
}

.p-description {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
  margin: 0;
}

.accent {
  font-weight: 700;
}

.info {
  margin: 0 0 12px;
}

.pagination {
  margin: 0 0 12px;
  justify-content: center;
}

.table {
  border-radius: var(--border-radius);
  overflow: auto;
  height: calc(100vh - 280px);
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
  }
  
  .p-description {
    font-size: 14px;
    line-height: 1.2;
  }
}

.no-wrap-text {
  text-wrap: nowrap;
}