.content {
  margin: 24px auto 0 auto;
  max-width: 1665px;
  width: 100%;
  padding: 0 50px;
  height: calc(100% - 84px);
  overflow: hidden;
}

@media screen and (max-width: 1366px){
  .content {
    padding: 0;
    width: calc(100% - 50px);
  }
}